@model LibreriaBaseDeDatos.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaginaNormal</title>
</head>
<body>
    <div>
        <h1>El usuario @Model.NombreCompleto (@Model.Correo) ya esta logeado</h1>
    </div>
</body>
</html>
